div(style="display:none;").

  <div id="dialog_simple" class="dialog" title="Dialog Simple Title">
    <textarea class="input" rows=4 placeholder="ここにテキストを入力してください. リアルタイムで相手に反映されます."></textarea>
  </div>
