body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.ui-widget-header {
  border: 0;
}
.ui-dialog {
  opacity: 0.75;
}
.ui-dialog.my-dialog {
  opacity: 1;
}
.ui-dialog .input {
  width: 95%;
}
